{% extends 'base.html.twig' %}

{% block title %}Edit WaterLog{% endblock %}

{% block body %}
    <h1>Edit WaterLog</h1>

    {{ include('water_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_water_log_index') }}">back to list</a>

    {{ include('water_log/_delete_form.html.twig') }}
{% endblock %}
