{% extends 'base.html.twig' %}

{% block title %}New WaterLog{% endblock %}

{% block body %}
    <h1>Create new WaterLog</h1>

    {{ include('water_log/_form.html.twig') }}

    <a href="{{ path('app_water_log_index') }}">back to list</a>
{% endblock %}
