{% extends 'base.html.twig' %}

{% block title %}Edit Healthentry{% endblock %}

{% block body %}
    <h1>Edit Healthentry</h1>

    {{ include('healthentry/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_healthentry_index') }}">back to list</a>

    {{ include('healthentry/_delete_form.html.twig') }}
{% endblock %}
